@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* Font added  */

@tailwind base;
@tailwind components;
@tailwind utilities;

.holder {
  @apply mx-auto max-w-siteWidth px-6 md:px-46 lg:px-16;
}

@layer base {
  body {
    @apply flex flex-col min-h-screen bg-white text-black;
  }

  h2 {
    @apply font-obviously font-normal leading-[100%];
    font-size: 2rem;
    line-height: 2.46rem;
  }

  h3 {
    @apply text-2xl font-medium leading-[110%];
  }

  p,
  ul:not(.main--menu, .top--menu),
  ol {
    @apply font-nunito text-base font-normal leading-[150%];
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 2.75rem;
    }
  }
}

header {
  transition: all 0.3s ease-in-out;
}

body.nav-expanded header {
  @apply bg-white;
}
body.nav-expanded .siteLogo svg *,
body.nav-expanded .searchBtn svg * {
  fill: black;
}

body.nav-expanded .top--menu > li > a,
body.nav-expanded .main--menu > li > a {
  @apply text-black;
}

.toggleNav i {
  transition: all 0.3s ease-in-out;
}

body.nav-expanded .toggleNav i {
  @apply bg-black;
}

body.nav-expanded .toggleNav i:nth-child(1) {
  @apply rotate-45 top-[9px];
}

body.nav-expanded .toggleNav i:nth-child(2) {
  @apply opacity-0;
}

body.nav-expanded .toggleNav i:nth-child(3) {
  @apply -rotate-45 -top-[7px];
}

.main--menu > li:hover > a::after {
  @apply w-full;
}

body.nav-expanded .main--menu > li > a::after {
  @apply bg-black;
}

.floating-header .siteLogo svg *,
.floating-header .searchBtn svg * {
  @apply fill-white;
}

.floating-header .main--menu > li > a::after {
  @apply bg-white;
}

.menu-item-has-children.open-nav > a::after {
  @apply w-full;
}

@media only screen and (min-width: 1024px) {
  .main--menu > li > a::after {
    @apply bg-black h-0.5 left-1/2 -translate-x-1/2 absolute w-0 -bottom-[22px];
    content: "";
    transition: all 0.3s ease-in-out;
  }

  .megaMenu-wrap {
    transition: height 200ms, visibility 200ms, opacity 200ms,
      transform 350ms ease-out;
    transform-origin: 0 0;
    transform: scale3d(1, 0, 0);
  }

  .menu-item-has-children.open-nav .megaMenu-wrap {
    @apply opacity-100 visible max-h-[1000px];
    transform: scale3d(1, 1, 1);
  }

  .menu-item-has-children.open-nav .megaMenu-wrap .sub-menu li {
    @apply opacity-0;
    animation-name: fadeIn;
    animation-duration: 0.65s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.button {
  @apply text-black text-sm uppercase font-obviously font-normal leading-[120%] tracking-[0.84px] inline-flex gap-3 items-center justify-between border border-solid border-black py-3 px-5 hover:bg-black hover:text-white hover:border hover:border-solid duration-500 min-w-[156px];
}

.button svg * {
  transition: all 0.3s ease-in-out;
}

.button:hover svg path:first-child {
  @apply fill-white;
}
.button:hover svg path:last-child {
  @apply stroke-white;
}

.button.button-white {
  @apply text-white border-white hover:bg-white hover:text-black;
}

.button.button-white:hover svg path:first-child {
  @apply fill-black;
}
.button.button-white:hover svg path:last-child {
  @apply stroke-black;
}

@layer utilities {
  .gridPromoSlider .swiper-button-next:after,
  .gridPromoSlider .swiper-button-prev:after,
  .promoSlider .swiper-button-next:after,
  .promoSlider .swiper-button-prev:after,
  .timelineSlider .swiper-button-next:after,
  .timelineSlider .swiper-button-prev:after {
    --tw-content: none;
    content: var(--tw-content);
  }
  .gridPromoSlider .swiper-button-prev,
  .promoSlider .swiper-button-prev {
    left: auto;
    right: 4rem;
  }
  .gridPromoSlider .swiper-button-next,
  .gridPromoSlider .swiper-button-prev,
  .promoSlider .swiper-button-next,
  .promoSlider .swiper-button-prev {
    top: -3rem;
    width: 15px;
  }

  section + .fullVideoBlock {
    margin: 2rem 0 4rem;
  }
  @media (min-width: 768px) {
    section + .fullVideoBlock {
      margin: 3.125rem 0 6.25rem;
    }
  }

  .fullVideoBlock .textMarquee {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    overflow: hidden;
  }
  @media (min-width: 1024px) {
    .fullVideoBlock .textMarquee {
      gap: 3rem;
    }
  }
  .fullVideoBlock .textMarquee span {
    white-space: nowrap;
    will-change: transform;
    transform: translateX(0);
    animation: marquee 24s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .stroke-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
    scrollbar-width: none;
  }

  .stroke-text {
    white-space: nowrap;
    font-family: obviously-narrow, sans-serif;
    font-size: 14.6vw;
    font-weight: 900;
    line-height: 105%;
    color: #0000;
  }

  @media only screen and (min-width: 768px) {
     .stroke-text {
      -webkit-text-stroke-width: 2px;
      font-weight: 800;
    }
  }
  .stroke-text {
    -webkit-text-stroke-width: 2px;
    font-weight: 600;
    line-height: 78%;
  }
  @media only screen and (min-width: 1280px) {
     .stroke-text {
      -webkit-text-stroke-width: 2px;
      font-weight: 600;
      line-height: 78%;
    }
  }

  .newsletterForm input[type="email"] {
    width: 100%;
    flex: 1 1 0%;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    background-color: initial;
    padding-right: 6rem;
    padding-top: 0.875rem;
    padding-bottom: 0.625rem;
    font-family: nunito, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    line-height: 100%;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  @media (min-width: 1024px) {
    .newsletterForm input[type="email"] {
      border-width: 1px;
      border-color: #0000;
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      --tw-text-opacity: 1;
      color: rgb(0 0 0 / var(--tw-text-opacity));
    }
  }
}
